.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}



/* shared style */
.nav-title {
    font-weight: 800;
    font-size: 36px;
}

.dark-2 {
    color: rgb(71, 71, 71);
    ;
}

.btn {
    border-radius: 5px;
    background: rgb(253, 110, 10);
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
    padding: 14px 30px
}

/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 120px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;

    font-size: 18px;
}

.text-primary {
    color: rgb(253, 110, 10);
}


/* banner parent */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px 0 120px;
}

/* banner content */
.banner-content {
    width: 400px;
}

/* banner style */
.banner-greeting {
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-title {
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 0px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-description {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: left;
}

.header {
    background-image: url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 50%;
}

.banner-portfolio-img {
    width: 400px;
}

main {
    width: 850px;
    margin: 0 auto;
}

main {
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-parent {
    background-color: rgb(226, 219, 212);
    padding: 20px 0px;
    margin: 50px auto;
}

.about-section {
    width: 547px;
    border: 1px solid grey;
    margin: 50px auto;
}

.about-title {
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}

.about-description {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;
}

.about-items {
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 5px;
}

.subdescription {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;
    color: rgb(117, 117, 117);
}

.subtitle {
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;
    color: rgb(117, 117, 117);
}

/* skills container style */
.skills-container {
    display: flex;
    gap: 16px;
    margin-top: 50px;
}

.skill {
    padding: 4px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(209, 193, 193, 0.87);
    /* border: 2px solid gainsboro; */
}

.skill-title {
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0%;
}

.skill-description {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0%;
    /* text-align: justify; */
}

/* resume content style */
.resume-title {
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.resume-container {
    display: flex;
    gap: 16px;
}

.experience-title {
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: left;
}

.experience-sub-title {
    font-size: 18px;
    font-weight: 800;
    line-height: 0px;
}

.experience-sub-description,
.experience-sub-title {
    color: rgb(117, 117, 117);
    font-size: 13px;
}

.resume-column-title {
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: left;
}

.text-center {
    text-align: center;

}

.resume hr {
    margin: 20px 5px;
}

.downloadcv {
    margin-top: 40px;
}

.footer-title {
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;

}

.downloadcv {
    margin-top: 40px;
}

.text-center {
    text-align: center;
}

/* footer style */
footer {
    display: flex;
    padding: 80px 235px;
    gap: 40px;
    background-color: antiquewhite;
}

.media-img {
    display: flex;
    margin-top: 20px;
    gap: 40px;
}

.footer-colum {
    width: 50%;
}


footer input[type='text'],
footer input[type='email'],
footer textarea {
    height: 48px;
    border-radius: 5px;
    padding: 0px 10px;
    color: gray;
    font-weight: 600;
    display: block;
    width: 100%;
    border: none;
    margin-bottom: 20px;
}

.foot-description {
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}